<!-- Table of clinics with sort options for each column and pagination-->
<div class="container">
    <div class="row">
        <div class="col-md-12 mx-auto">
          <div class="md-form">
            <input type="text" [(ngModel)]="searchText" class="form-control" id="search" mdbInput/>
            <label for="search">Search</label>
          </div>
        </div>
    </div>
    <table mdbTable #tableEl="mdbTable" hover="true" class="table text-position z-depth-1">
        <thead class="black white-text">
            <tr>
                <th></th>
                <th [mdbTableSort]="clinicList" sortBy="name">Name&nbsp;<i class="fas fa-sort"></i> </th>
                <th [mdbTableSort]="clinicList" sortBy="addressStreet">Street&nbsp;<i class="fas fa-sort"></i> </th>
                <th [mdbTableSort]="clinicList" sortBy="adressCity">City&nbsp;<i class="fas fa-sort"></i></th>
                <th [mdbTableSort]="clinicList" sortBy="averageMark">Average Mark&nbsp;<i class="fas fa-sort"></i></th>
            </tr>
        </thead>
        <tbody>
            <tr mdbTableCol *ngFor="let cl of clinicList; let i = index;" (click)="rowSelected(cl)">
                <th *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" scope="row">{{i + 1}}</th>
                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{cl.name}}</td>
                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{cl.addressStreet}}</td>
                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{cl.adressCity}}</td>
                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{cl.averageMark}}</td>
            </tr>
        </tbody>
        <tfoot class="grey lighten-5 w-100">
            <tr>
                <td colspan="5">
                    <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="clinicList"></mdb-table-pagination>
                </td>
            </tr>
        </tfoot>
    </table>
</div>