<div class="background-img">
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <section class="form-simple">
    
            <!--Form with header-->
            <mdb-card style="width: 28rem;">
    
                <!--Header-->
                <div class="header pt-3 grey lighten-2">
                    <div class="row d-flex justify-content-start">
                        <h3 class="deep-grey-text mt-3 mb-4 pb-1 mx-5">Log in - clinic.admin@gmail.com</h3>
                    </div>
    
                </div>
                <!--Header-->
    
                <mdb-card-body class="mx-4 mt-4">
    
                <!--Body-->
                <form #userPasswordForm="ngForm" (ngSubmit)="onSubmitPassword()">
                    <div class="row" style="padding-bottom: 1.5rem;">
                        <div class="col-8">
                            <h2><i class="fas fa-key"></i>&nbsp; Change password</h2>
                        </div>
                    </div>
            
                    <div class="col">
                        <div class="md-form">
                            <input required mdbInput class="form-control" type="password" 
                                #password="ngModel" [(ngModel)]="userPassword.password" name="password"
                                [class.is-invalid]="password.invalid && password.touched">
                            <label for="current-password" class="">Current password</label>
                            <div *ngIf="password.invalid && password.touched">
                                <small class="text-danger" *ngIf="password.errors.required"> Current password is required for setting new password. </small>
                            </div>
                            <small class="text-danger" *ngIf="changePasswordMsg"> {{changePasswordMsg}} </small>
                        </div>
                    </div>
            
                    <div class="col">
                        <div class="md-form">
                            <input required mdbInput class="form-control" type="password" 
                                #newPassword="ngModel" [(ngModel)]="userPassword.newPassword" name="newPassword"
                                [class.is-invalid]="newPassword.invalid && newPassword.touched">
                            <label for="new-password" class="">New password</label>
                            <div *ngIf="newPassword.invalid && newPassword.touched">
                                <small class="text-danger" *ngIf="newPassword.errors.required"> New password is required. </small>
                            </div>
                        </div>
                    </div>
            
                    <div class="col">
                        <div class="md-form">
                            <input required mdbInput class="form-control" type="password" 
                                #confirmedPassword="ngModel" [(ngModel)]="userPassword.confirmedPassword" name="confirmedPassword"
                                [class.is-invalid]="confirmedPassword.invalid && confirmedPassword.touched">
                            <label for="confirm-password" class="">Confirm new password</label>
                            <div *ngIf="confirmedPassword.invalid && confirmedPassword.touched">
                                <small class="text-danger" *ngIf="confirmedPassword.errors.required"> Please, confirm new password. </small>
                            </div>
                            <small class="text-danger" *ngIf="!passwordConfirmed"> This password does not match with your new password. </small>
                        </div>
                    </div>
            
                    <div class="col8">
                        <div class="alert alert-success" role="alert" *ngIf="displayPasswordAlertMsg">
                            {{displayPasswordAlertMsg}}
                        </div>
                    </div>
            
                    <div class="col-8">
                        <div class="md-form">
                            <button type="submit" mdbBtn col-4or="light" mdbWavesEffect type="submit" [disabled]="userPasswordForm.form.invalid">
                                Change password
                            </button>
                        </div>
                    </div>
            
                </form>
    
                </mdb-card-body>
    
            </mdb-card>

            </section>
        </div>
    </div>
</div>