<div class="alert alert-danger" role="alert" *ngIf="error">
    Error on user data loading.
</div>

<div class="row">
    <div class="col-md-10 mx-auto my-5">
        <mdb-card dark="true">

            <mdb-card-body class="elegant-color white-text">

                <mdb-card-title>
                    <h2 class="padding-16"><i class="fas fa-notes-medical"></i>&nbsp;Medical records</h2>
                </mdb-card-title>

                <hr class="hr-light">

                <mdb-card-text class="white-text">
                    <h4 class="padding-10"><i class="fas fa-hospital-user"></i>&nbsp;Basic informations about patient
                    </h4>
                    <h5>First name: {{records.name}}</h5>
                    <h5>Last name: {{records.surname}}</h5>
                    <h5>Policyholder: {{records.policyholder}}</h5>
                    <h5>Blood type: {{records.bloodType}}</h5>
                </mdb-card-text>
            </mdb-card-body>
        </mdb-card>
    </div>
</div>

<div class="row">
    <div class="half-width">
        <div class="col-md-8 mx-auto my-5">
            <mdb-card>
                <mdb-card-body>
                    <mdb-card-title>
                        <h4><i class="fas fa-plus-circle"></i>&nbsp;Other informations</h4>
                    </mdb-card-title>

                    <hr>

                    <mdb-card-text>
                        <h5>Height: {{records.height}}</h5>
                        <h5>Weight: {{records.weight}}</h5>
                        <h5>Diopter: {{records.diopter}}</h5>
                    </mdb-card-text>
                </mdb-card-body>
            </mdb-card>
        </div>
    </div>

    <div class="half-width">
        <div class="col-md-8 mx-auto my-5">
            <mdb-card>
                <mdb-card-body>
                    <mdb-card-title>
                        <h4><i class="fas fa-allergies"></i>&nbsp;Allergies</h4>
                    </mdb-card-title>

                    <hr>

                    <mdb-card-text>
                        <h5>
                            <ul *ngFor="let allergy of records.allergies">
                                <li>{{allergy}}</li>
                            </ul>
                        </h5>
                    </mdb-card-text>
                </mdb-card-body>
            </mdb-card>
        </div>
    </div>
</div>