<div class="container">
    <div class="row">
        <div class="col-md-12 mx-auto">
          <div class="md-form">
            <input type="text" [(ngModel)]="searchText" class="form-control" id="search" mdbInput/>
            <label for="search">Search</label>
          </div>
        </div>
    </div>
    <table mdbTable #tableEl="mdbTable" hover="true" class="table text-position z-depth-1">
        <thead class="black white-text">
            <tr>
                <th>#</th>
                <th [mdbTableSort]="ETList" sortBy="price">Price&nbsp;<i class="fas fa-sort"></i> </th>
                <th [mdbTableSort]="ETList" sortBy="discount">Discount&nbsp;<i class="fas fa-sort"></i> </th>
                <th [mdbTableSort]="ETList" sortBy="duration">Duration&nbsp;<i class="fas fa-sort"></i> </th>
                <th [mdbTableSort]="ETList" sortBy="interventionType">Intervention type&nbsp;<i class="fas fa-sort"></i> </th>
                <th [mdbTableSort]="ETList" sortBy="specialisation">Specialisation&nbsp;<i class="fas fa-sort"></i></th>
                <th>Actions</th>
            </tr>
        </thead>   
        <tbody>
            <tr mdbTableCol *ngFor="let cl of ETList; let i = index;" (click)="getRow(cl)">
                <th *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" scope="row">{{i + 1}}</th>
                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{cl.price}}</td>
                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{cl.discount }}%</td>
                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{cl.duration}}</td>
                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{cl.intervention_type}}</td>
                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{cl.specialisation}}</td>
                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                    <button mat-icon-button color="warn" aria-label="Example icon-button with a heart icon" (click)="editET(cl)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" aria-label="Example icon-button with a heart icon" (click)="takeET(cl)" (click)="frame.show()">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </tr>
        </tbody>
        <tfoot class="grey lighten-5 w-100">
            <tr>
                <td colspan="7">
                    <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="ETList"></mdb-table-pagination>
                </td>
            </tr>
        </tfoot>
    </table>

    <div class="container" style="padding-top: 3rem;" id="changeId" *ngIf="!isChangeHidden">
        <h2 style="padding-bottom: 1 rem;">Edit examination type</h2>

        <!-- DURATION -->
        <!-- <div class="row">
            <div class="col-4">
                <div class="md-form">
                    <mat-form-field>
                        <mat-label>Duration</mat-label>
                        <mat-select [(ngModel)]="durationToChange" [disabled]="true">
                            <mat-option *ngFor="let dur of duration" [value]="dur">{{dur}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div> -->

        <!-- PRICE -->
        <div class="row">
            <div class="col-4">
                <div class="md-form">
                    <input [(ngModel)]="priceToChange.price" type="number" class="form-control" id="priceInput" mdbInput>
                    <label for="priceInput">Price</label>
                </div>
            </div>
        </div>

        <!-- DISCOUNT -->
        <div class="row">
            <div class="col-4">
                <div class="md-form">
                    <input [(ngModel)]="priceToChange.discount" type="number" class="form-control" id="discountInput" mdbInput>
                    <label for="discountInput">Discount</label>
                </div>
            </div>
        </div>

        <!-- CONFIRM CHANGE BUTTON -->
        <button mat-raised-button color="primary" (click)="confirmChanges()">
            Confirm changes&nbsp;<mat-icon style="font-size: 21px;">edit</mat-icon>
        </button>
    </div>


    <!-- ARE YOU SURE YOU WANT TO DELETE -->
    <div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
            <!--Content-->
            <div class="modal-content text-center">
                <!--Header-->
                <div class="modal-header d-flex justify-content-center">
                    <p class="heading">Are you sure?</p>
                </div>

                <!--Body-->
                <div class="modal-body">
                    <mdb-icon fas icon="times" size="4x" class="animated rotateIn"></mdb-icon>
                </div>

                <!--Footer-->
                <div class="modal-footer justify-content-center">
                    <a type="button" mdbBtn color="danger" outline="true" class="waves-effect" mdbWavesEffect (click)="frame.hide()" (click)="delete()">Yes</a>
                    <a type="button" mdbBtn color="danger" class="waves-effect" mdbWavesEffect data-dismiss="modal" (click)="frame.hide()">No</a>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>

</div>


