<div class="col-md-6">
    <h2 class="text-center">My profile</h2>
    <form>

        <div class="form-group row">
            <label for="policyholder" class="col-sm-4 col-form-label">Policyholder:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="policyField" name="policyField" readonly [(ngModel)]="user.policyholder"> 
            </div>
        </div>
        <div class="form-group row">
            <label for="email" class="col-sm-4 col-form-label">Email:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="emailField" name="emailField" readonly [(ngModel)]="user.email">
            </div>
        </div> 

        <div class="form-group row">
            <label for="name" class="col-sm-4 col-form-label">Name:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="nameField" name="nameField" [(ngModel)]="user.name">
            </div>
        </div>  
        <div class="form-group row">
            <label for="surname" class="col-sm-4 col-form-label">Surname:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="surnameField" name="surnameField" [(ngModel)]="user.surname">
            </div>
        </div> 
        
        <div class="form-group row">
            <label for="adress" class="col-sm-4 col-form-label">Adress:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="adressField" name="adressField" [(ngModel)]="user.adress">
            </div>
        </div>
        <div class="form-group row">
            <label for="city" class="col-sm-4 col-form-label">City:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="cityField" name="cityField" [(ngModel)]="user.city">
            </div>
        </div>
        <div class="form-group row">
            <label for="country" class="col-sm-4 col-form-label">Country:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="countryField" name="countryField" [(ngModel)]="user.country">
            </div>
        </div> 
        
        <div class="form-group row">
            <label for="phone" class="col-sm-4 col-form-label">Phone number:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="phoneField" name="phoneField" [(ngModel)]="user.phone">
            </div>
        </div>
       
        
        <!-- (click)="saveChanges()" -->
        <button class="btn btn-success" (click)="saveChanges()">Sacuvaj izmene</button>
    </form>
</div>
