<div class="alert alert-danger" role="alert" *ngIf="errorClinic">
  Error on user data loading.
</div>
<div class="row">
  <div class="col-md-10 mx-auto my-5">
    <mdb-card dark="true">
      <mdb-card-body class="elegant-color white-text">
        <mdb-card-title class="d-flex justify-content-between">
          <h3><i class="fas fa-hospital"></i> {{clinic.name}}</h3>
          <button type="button" mdbBtn (click)="quickAppointment()" mdbWavesEffect
              class="bg-gradient-warning text-white relative waves-light">
              Offered examination appointments
          </button>
        </mdb-card-title>

        <hr class="hr-light">

        <mdb-card-text class="white-text">
          <h4><i class="fas fa-map-marker-alt"></i> Location</h4>
          <h5>Street: {{clinic.addressStreet}} </h5>
          <h5>Grad: {{clinic.addressCity}}</h5>
        </mdb-card-text>

        <a class="white-text d-flex justify-content-between">
          <button type="button" mdbBtn (click)="rateClinic()" (click)="rateModal.show()" mdbWavesEffect
            class="bg-gradient-warning text-white relative waves-light btn-sm" [disabled]="!clinic.canRateClinic"
            [hidden]="!clinic.canRateClinic">
            Rate Clinic
          </button>
          <h5 class="waves-light white-text" mdbWavesEffect>
            Average mark: {{clinic.averageMark}}
            <span>
              <i class="fas fa-hand-holding-heart"></i>
            </span>
          </h5>
        </a>
      </mdb-card-body>
    </mdb-card>
  </div>
</div>

<!--search by examination date, time and examination type (doctor specialisation)-->
<app-filter-clinics></app-filter-clinics>

<!-- Table of doctors -->
<div class="container">
  <div class="row d-flex justify-content-between">
    <h2 class="padding-16">
      <i class="fas fa-user-md"></i>&nbsp;<b>Table of doctors</b>
    </h2>
    <h2 data-toggle="tooltip" data-placement="bottom" title="Select row in table of doctors to continue with making appointment."> 
      <i class="far fa-question-circle"></i>
    </h2>
  </div>

  <div class="row">
    <div class="col-md-12 mx-auto">
      <div class="md-form">
        <input type="text" [(ngModel)]="searchText" class="form-control" id="search" mdbInput />
        <label for="search">Search</label>
      </div>
    </div>
  </div>
  <table mdbTable #tableEl="mdbTable" hover="true" class="table text-position z-depth-1">
    <thead class="black white-text">
      <tr>
        <th></th>
        <th [mdbTableSort]="doctors" sortBy="firstName">First name&nbsp;<i class="fas fa-sort"></i> </th>
        <th [mdbTableSort]="doctors" sortBy="lastName">Last name&nbsp;<i class="fas fa-sort"></i> </th>
        <th [mdbTableSort]="doctors" sortBy="phone">Phone&nbsp;<i class="fas fa-sort"></i></th>
        <th [mdbTableSort]="doctors" sortBy="specialisation">Specialisation&nbsp;<i class="fas fa-sort"></i></th>
        <th [mdbTableSort]="doctors" sortBy="averageMark">Average Mark&nbsp;<i class="fas fa-sort"></i></th>
        <th>Examination price</th>
        <th>Rate doctor</th>
      </tr>
    </thead>
    <tbody>
      <tr mdbTableCol *ngFor="let dr of doctors; let i = index;" (click)="rowSelected(dr)" >
        <div (click)="confirmModal.show()">
        <th *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" scope="row">
          {{i + 1}}</th>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{dr.firstName}}
        </td>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{dr.lastName}}
        </td>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{dr.phone}}</td>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
          {{dr.specialisation}}</td>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{dr.averageMark}}
        </td>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
          <div *ngIf="clinic.examinationPrice">{{clinic.examinationPrice}}</div>
        </td>
      </div>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
          <button type="button" mdbBtn (click)="rateDoctor(dr)" (click)="rateModal.show()" mdbWavesEffect
            class="bg-gradient-warning text-black relative waves-light btn-sm doctor-btn-position"
            [disabled]="!dr.canRateDoctor" [hidden]="!dr.canRateDoctor">
            Rate Doctor
          </button>
        </td>
      </tr>
    </tbody>
    <tfoot class="grey lighten-5 w-100">
      <tr>
        <td colspan="8">
          <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="doctors"></mdb-table-pagination>
        </td>
      </tr>
    </tfoot>
  </table>
</div>

<!--Rating modal for both doctor and clinic-->
<div mdbModal #rateModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myRateModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="rateModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">
          {{modalHeader}}
        </h4>
      </div>

      <div class="modal-body">

        <ngb-rating [(rate)]="saveMark.mark" class="text-warning stars" [max]="5"></ngb-rating>

      </div>

      <div class="modal-footer">
        <button type="button" mdbBtn (click)="rateModal.hide()" (click)="saveChanges()" color="primary"
          class="relative waves-light" mdbWavesEffect>Save changes</button>
        <button type="button" mdbBtn aria-label="Close" (click)="rateModal.hide()" color="primary"
          class="relative waves-light" mdbWavesEffect>Close</button>
      </div>
    </div>
  </div>
</div>

<!--Confirmation modal for appointment-->
<div mdbModal #confirmModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myconfirmModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="confirmModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">
          Confirmation dialogue
        </h4>
      </div>

      <div class="modal-body">

        <p>Are you sure you want to schedule this examination?</p>
        <p>Clinic: {{clinic.name}}</p>
        <p>Doctor: {{doctor.firstName}} {{doctor.lastName}}</p>
        <p>Examination type: {{doctor.specialisation}}</p>
        <p>Price: {{clinic.examinationPrice}}</p>
        <p>Price: {{date | date: 'd.M.yyyy. HH:mm'}}</p>

      </div>

      <div class="modal-footer">
        <button type="button" mdbBtn (click)="confirmModal.hide()" (click)="yes()" color="primary" [disabled] = "!isDateSelected"
          class="relative waves-light" mdbWavesEffect>Yes</button>
        <button type="button" mdbBtn aria-label="Close" (click)="confirmModal.hide()" color="primary"
          class="relative waves-light" mdbWavesEffect>Cancel</button>
      </div>
    </div>
  </div>
</div>