<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">T8 Medigroup</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      <div class="collapse navbar-collapse" id="navbarResponsive1">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
                  <span class="sr-only">(current)</span>
                </a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link" routerLink="addDoctor">add doc</a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link" routerLink="#" (click)="salji()">Lekar1</a>
          </li> -->
          <!-- <li class="nav-item"> -->
            <!-- <a class="nav-link" [routerLink]="['/homepage/user-page', this.message2]">Lekar2</a> Second way to share data -->
          <!-- </li> -->
          <li class="nav-item">
            <a class="nav-link" routerLink="/user-page" (click)="sentUser()">User page</a>
          </li>
          
          <!-- <li class="nav-item">
            <a class="nav-link" href="/homepage/adde">Add emp</a>
          </li>
        </ul>
      </div>
      
      <div class="collapse navbar-collapse" id="navbarResponsive2">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/login">Login
                  <span class="sr-only">(current)</span>
                </a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" routerLink="/register">Register</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <!-- Full Page Image Header with Vertically Centered Content -->
  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
          <h1 class="font-weight-light">Welcome to T8 Medigroup</h1>
          <p class="lead">You are safe with us.</p>
        </div>
      </div>
    </div>
  </header>
  
  <!-- Page Content -->
  <section class="py-5">
    <div class="container">
      <h2 class="font-weight-light">Here goes some simple introduction</h2>
      <p>
        Ovde ide neki sadrzaj o nama ovo ono... Ovde ide neki sadrzaj o nama ovo ono...
        Ovde ide neki sadrzaj o nama ovo ono... Ovde ide neki sadrzaj o nama ovo ono...
        Ovde ide neki sadrzaj o nama ovo ono... Ovde ide neki sadrzaj o nama ovo ono...
        Ovde ide neki sadrzaj o nama ovo ono... Ovde ide neki sadrzaj o nama ovo ono... 
        Ovde ide neki sadrzaj o nama ovo ono... Ovde ide neki sadrzaj o nama ovo ono... 
        Ovde ide neki sadrzaj o nama ovo ono... Ovde ide neki sadrzaj o nama ovo ono...
      </p>
    </div>
  </section>

  <!-- <router-outlet></router-outlet> -->