<div class="container">
    <div class="row" style="padding-bottom: 2rem;">
        <div class="col">
            <h1>Absence scheduling</h1>
        </div>
    </div>

    <!-- 
        datum pocetka - najranije sutrasnji datum.
        datum kraja - ne sme da bude duzi od 30 dana.
        izbor za godisnji ili bolovanje ili sta vec
        dugme za slanje zahteva sa praznom metodom.
     -->

    <div class="row">
        <div class="col-4">
            Begin date
        </div>
        <div class="col-4">
            End date
        </div>
    </div>

    <!-- date pickers -->
    <div class="row">
        <!-- start -->
        <div class="col-4">
            <mat-form-field class="example-full-width">
                <mat-label>Choose a date</mat-label>
                <input id="startDateInput" matInput [min]="minDate" [max]="maxDate" [matDatepicker]="pickerStartDate" [(ngModel)]="startDate" disabled>
                <mat-datepicker-toggle matSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
                <mat-datepicker touchUi #pickerStartDate ngDefaultControl [(ngModel)]="startDate" disabled="false"></mat-datepicker>
            </mat-form-field>
        </div>

        <!-- end -->
        <div class="col-4">
            <mat-form-field class="example-full-width">
                <mat-label>Choose a date</mat-label>
                <input id="endDateInput" matInput [min]="minDate" [max]="maxDate" [matDatepicker]="pickerEndDate" [(ngModel)]="endDate" disabled>
                <mat-datepicker-toggle matSuffix [for]="pickerEndDate"></mat-datepicker-toggle>
                <mat-datepicker touchUi #pickerEndDate ngDefaultControl [(ngModel)]="endDate" disabled="false"></mat-datepicker>
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <!-- vacation or absence -->
        <div class="col-4">
            <section class="example-section">
                <mat-radio-group [(ngModel)]="absenceType">
                    <mat-radio-button (change)="onChange('Absence')" class="example-margin" value="Absence">Absence</mat-radio-button>
                    <mat-radio-button (change)="onChange('Vacation')" class="example-margin" value="Vacation">Vacation</mat-radio-button>
                </mat-radio-group>
            </section>
        </div>

        <!-- button send request to admin -->
        <div class="col-4">
            <button mat-raised-button color="primary" (click)="sendRequest()">Send request</button>
        </div>
    </div>

</div>
