<div class="container">
    <div class="row">
        <h2 class="padding-16">
            <i class="fas fa-hospital"></i>&nbsp;<b>Table of examinations in {{clinic.name}}</b>
        </h2>
    </div>

    <table mdbTable #tableEl="mdbTable" hover="true" class="table text-position z-depth-1">
        <thead class="black white-text">
            <tr>
                <th></th>
                <th [mdbTableSort]="examinationsList" sortBy="dateOfExamination">Date&nbsp;<i class="fas fa-sort"></i> </th>
                <th [mdbTableSort]="examinationsList" sortBy="examinationRoom">Examination room&nbsp;<i class="fas fa-sort"></i> </th>
                <th [mdbTableSort]="examinationsList" sortBy="doctorsName">Doctor&nbsp;<i class="fas fa-sort"></i></th>
                <th [mdbTableSort]="examinationsList" sortBy="examinationType">Examination type&nbsp;<i class="fas fa-sort"></i></th>
                <th [mdbTableSort]="examinationsList" sortBy="price">Price (with discount)&nbsp;<i class="fas fa-sort"></i></th>
                <th [mdbTableSort]="examinationsList" sortBy="discount">Discount&nbsp;<i class="fas fa-sort"></i></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr mdbTableCol *ngFor="let examin of examinationsList; let i = index;">
                <th *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" scope="row">{{i + 1}}</th>
                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{examin.dateOfExamination | date: 'd.M.yyyy. HH:mm'}}</td>
                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{examin.examinationRoom}}</td>
                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{examin.doctorsName}}</td>
                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{examin.examinationType | lowercase}}</td>
                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{examin.price}}</td>
                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{examin.discount}}</td>
                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                    <button type="button" mdbBtn (click)="makeAppointment(examin)" (click)="confirmModal.show()" mdbWavesEffect
                      class="bg-gradient-warning text-black relative waves-light btn-sm">
                      Make an Appointment
                    </button>
                </td>
            </tr>
        </tbody>
        <tfoot class="grey lighten-5 w-100">
            <tr>
                <td colspan="8">
                    <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="examinationsList"></mdb-table-pagination>
                </td>
            </tr>
        </tfoot>
    </table>
</div>

<!--Confirmation modal for both doctor and clinic-->
<div mdbModal #confirmModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myconfirmModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="confirmModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">
          Confirmation dialogue
        </h4>
      </div>

      <div class="modal-body">

        <p>Are you sure you want to schedule this examination?</p>

      </div>

      <div class="modal-footer">
        <button type="button" mdbBtn (click)="confirmModal.hide()" (click)="saveChanges()" color="primary"
          class="relative waves-light" mdbWavesEffect>Yes</button>
        <button type="button" mdbBtn aria-label="Close" (click)="confirmModal.hide()" color="primary"
          class="relative waves-light" mdbWavesEffect>Cancel</button>
      </div>
    </div>
  </div>
</div>