<div class="wrapper d-flex align-items-stretch">
  <nav id="sidebar">
    <div class="p-4 pt-5">
      <a href="#" class="img logo rounded-circle mb-5" style="background-image: url(assets/images/defaultUserPic.jpg);"></a>
      <ul class="list-unstyled components mb-5">
        <!-- Example for now -->

        <!-- PATIENT ROLE -->
        <div *ngIf="userRole == 'ROLE_PATIENT'">
          <li>
            <a routerLink="clinicsTable">Clinics table</a>
          </li>
          <li>
            <a routerLink="medicalRecords">Medical records</a>
          </li>
        </div>
        
        <!-- CLINIC ADMIN -->
        <div *ngIf="userRole == 'ROLE_CLINIC_ADMIN'">
          <li>
            <a href="#pageSubmenu4" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Display</a>
            <ul class="collapse list-unstyled" id="pageSubmenu4">
              <li>
                  <a routerLink="displayDoctors">Display doctors</a>
              </li>
              <li>
                <a routerLink="displayPatients">Display patients</a>
              </li>
              <li>
                <a routerLink="displayMedicalRooms">Medical rooms</a>
              </li>
              <li>
                <a routerLink="absences">Absences</a>
              </li>
            </ul>
          </li>

          <li>
            <a href="#pageSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pricelist and reports</a>
            <ul class="collapse list-unstyled" id="pageSubmenu2">
              <li>
                <a routerLink="displayExaminationTypes">Price list (ET)</a>
              </li>
              <li>
                <a routerLink="displayReport">Display report</a>
              </li>
            </ul>
          </li>

          <li>
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">examinations</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
              <li>
                <a routerLink="newAppointment">New appointment</a>
              </li>
              <li>
                <a routerLink="displayExaminationRequests">Examination requests</a>
              </li>
            </ul>
          </li>

          <li>
            <a routerLink="editClinicBasic">Edit clinic basic</a>
          </li>
        </div>

        <!-- DOCTOR ROLE -->
        <div *ngIf="userRole == 'ROLE_DOCTOR'">
          <li>
            <a routerLink="absence">Absence</a>
          </li>
          <li>
            <a routerLink="displayPatients">Display patients</a>
          </li>
        </div>

        <!-- NURSE ROLE -->
        <div *ngIf="userRole == 'ROLE_NURSE'">
          <li>
            <a href="#pageSubmenu5" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Nurse</a>
            <ul class="collapse list-unstyled" id="pageSubmenu5">
              <li>
                  <a routerLink="tableOfPatient">Table of pacient</a>
              </li>
              <li>
                <a>Action 1</a>
              </li>
              <li>
                <a>Action 2</a>
              </li>
            </ul>
          </li>
        </div>
      </ul>

      
      <div class="footer">
        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://github.com/Veljkic98/MRS_ISA_2020_T8" target="_blank">Team_8</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
      </div>

    </div>
  </nav>

    <!-- Page Content  -->
  <div id="content" class="p-4 p-md-5">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">

        <button type="button" id="sidebarCollapse" class="btn btn-primary">
          <i class="fa fa-bars"></i>
          <span class="sr-only">Toggle Menu</span>
        </button>
        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="myProfile">My profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#" (click)="logoutUser()">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- <h2 class="mb-4">Our gorgeous component</h2>
    <p>Here goes our components. Here goes our components. Here goes our components. Here goes our components. Here goes our components. Here goes our components. Here goes our components. Here goes our components. Here goes our components. Here goes our components. Here goes our components. Here goes our components. Here goes our components. Here goes our components. Here goes our components. Here goes our components. Here goes our components. Here goes our components. </p>
    <p>Here goes our components. Here goes our components. Here goes our components. Here goes our components. Here goes our components. Here goes our components. Here goes our components. Here goes our components. Here goes our components. Here goes our components. Here goes our components. Here goes our components. Here goes our components. Here goes our components. Here goes our components. Here goes our components. Here goes our components. Here goes our components. </p> -->
    <!-- <div style="border:1px solid white;"> -->
      <!-- Here gores out component -->
      <router-outlet></router-outlet>
    <!-- </div> -->


  </div>
</div>