<!-- <p>user-page works!</p>
<h2>Nacin1: {{ sub }}</h2> -->



<button type="button" mdbBtn color="primary" mdbWavesEffect>Primary</button>
<button type="button" mdbBtn color="secondary" mdbWavesEffect>Secondary</button>
<button type="button" mdbBtn color="success" mdbWavesEffect>Success</button>
<button type="button" mdbBtn color="danger" mdbWavesEffect>Danger</button>
<button type="button" mdbBtn color="warning" mdbWavesEffect>Warning</button>
<button type="button" mdbBtn color="info" mdbWavesEffect>Info</button>
<button type="button" mdbBtn color="light" mdbWavesEffect>Light</button>
<button type="button" mdbBtn color="dark" mdbWavesEffect>Dark</button>
<button type="button" mdbBtn color="link">Link</button>