<div class="container">
  <div class="row">
    <div class="col-4">
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input type="text"
              placeholder="Pick one"
              aria-label="Number"
              matInput
              [formControl]="myControl"
              [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions2 | async" [value]="option.firstName + ' ' + option.lastName" (click)="selectDoctor(option)">
                <!-- Here i can add more infos about doctor which i want to pick -->
                {{option.firstName + " " + option.lastName}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <mat-form-field class="example-full-width">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="date" disabled>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker ngDefaultControl [(ngModel)]="date" (dateInput)="onDate($event)" disabled="false"></mat-datepicker>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <div class="md-form">
        <input
          type="time"
          id="input"
          class="form-control"
          value="13:00"
          mdbInput
          [(ngModel)]="time"
        />
        <label for="input">Choose time</label>
      </div>
    </div>
  </div>

  <!-- Price intput -->
  <!-- <div class="row">
    <div class="col-4">
      <div class="md-form">
          <input [(ngModel)]="examination.price" type="number" class="form-control" id="priceInput" mdbInput>
          <label for="priceInput">Price</label>
      </div>
    </div>
  </div> -->

  <!-- Rooms select form input -->
  <div class="row">
    <div class="col-4">
        <div class="md-form">
            <mat-form-field>
                <mat-label>Medical room</mat-label>
                <mat-select [(ngModel)]="examination.medicalRoomId">
                    <mat-option *ngFor="let dur of rooms" [value]="dur.id">{{"Room: "+dur.room_number + " - " + dur.intervention_type}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
  </div>

  <!-- Specialisation select form input -->
  <div class="row">
      <div class="col-4" style="padding-top: 0.1rem;">
          <div class="md-form">
              <mat-form-field>
                  <mat-label>Specialisation</mat-label>
                  <mat-select [(ngModel)]="examination.specialisation">
                      <mat-option *ngFor="let spec of specialisations" [value]="spec" (click)="checkSpecialisation()">{{spec}}</mat-option>
                  </mat-select>
              </mat-form-field>
          </div>
      </div>
  </div>

  <!-- INtervension type checkbox input -->
  <div class="row" style="padding-top: 1.5rem; padding-bottom: 2.7rem;">
      <div class="col-6">
          <h2 class="example-h2">Choose intervention type</h2>
          <section class="example-section">
              <mat-radio-group [(ngModel)]="labelValue">
                  <mat-radio-button (change)="onChange('Examination')" class="example-margin" value="Examination">Examination</mat-radio-button>
                  <mat-radio-button (change)="onChange('Operation')" class="example-margin" value="Operation">Operation</mat-radio-button>
              </mat-radio-group>
          </section>
      </div>
  </div>

  <!-- Duration select form input -->
  <div class="row" *ngIf="specialisationChecked">
    <div class="col-4" style="padding-top: 0.1rem;">
      <!-- <div class="md-form">
          <mat-form-field>
              <mat-label>Type and rooms</mat-label>
              <mat-select [(ngModel)]="examination.specialisation">
                  <mat-option *ngFor="let spec of priceList" [value]="spec">{{spec}}</mat-option>
              </mat-select>
          </mat-form-field>
      </div> -->
    </div>
  </div>

  <!-- button which call function to send request to server -->
  <div class="row">
      <div class="col-4">
          <button type="button" mdbBtn col-4or="light" mdbWavesEffect (click)="addExamination();">Add</button>
      </div>
  </div>
  
</div>
  